#gradient {

width: full;
height: 65px;
left: 0px;
top: 0px;

background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}
@media screen and (min-width: 300px) {
  #gradient {width: full; 
  height:auto;
  };
  
}